[Desktop Entry]
Version=
Name=Furuta
Comment=Furuta
Exec=sh /home/serge/projets/furuta_python/run_furuta_gui.sh
Icon=/usr/share/icons/gnome/48x48/actions/gtk-execute.png
Terminal=true
Type=Application
Categories=
X-KeepTerminal=true
Name[fr_FR]=Furuta
