[Desktop Entry]
Type=Application
Name=Démarrage automatique de LXInput
Comment=Configurer le clavier et la souris en utilisant le paramétrage effectué dans LXInput
NoDisplay=true
Exec=sh -c 'xset m 20/10 10 r rate 500 33 b on; for id in $(xinput list | grep pointer | grep slave | cut -f 2 | cut -d = -f 2 ) ; do xinput --set-prop $id "libinput Accel Speed" 0.000000 2> /dev/null ; done'
NotShowIn=GNOME;KDE;XFCE;
